<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
        
        <!--css-->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/simple.css">

        <!-- angular -->
        <script type="text/javascript" src="js/modules/angular.min.js"></script>
		<script type="text/javascript" src="js//modules/angular-ui-router.min.js"></script>
<!--		<script type="text/javascript" src="js/modules/angular-repeat-n.min.js"></script>-->
        <script type="text/javascript" src="js/modules/angular-drag-and-drop-lists.js"></script>
        <script type="text/javascript" src="js/modules/angular-cookies.min.js"></script>
        <script type="text/javascript" src="js/modules/ngStorage.js"></script>

        <!-- directives -->
		<script type="text/javascript" src="js/directives/taskdetail.js"></script>
        
        <!--services-->
		<script type="text/javascript" src="js/services/taskService.js"></script>
        <script type="text/javascript" src="js/services/roting.js"></script>
		
        <!--controllers-->
		<script type="text/javascript" src="js/controllers/loginCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/taskCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/taskDetails.js"></script>
        <script type="text/javascript" src="js/controllers/editDetailsCtrl.js"></script>
		
        <!-- main -->
		<script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/constant.js"></script>
        
    </head>
	<body ng-app="taskApp">
        <header style="margin:auto; width:600px; text-align:right;">
            <div style="text-align:center; background-color:#E7E8E8; height: 40px; font-size: 25px;"><span>Test Project in Service JS developer</span></div>
            <span  ng-if="user">Welcome, {{user}}</span>
            <div ng-if="user"><a ng-click="logout()">Log out</a></div>
            <div ng-if="!user"><a ui-sref="login">Log in</a></div>
        </header>
        <div style="margin:auto; width:600px;" ui-view></div>
        <footer style="margin:auto; width:600px; margin-top:10px;">
            <div style="text-align:center; background-color:#E7E8E8; height: 40px; font-size: 13px;">
                <span>© 2015 - </span>
                <span>Created by Gresko E.A.</span>
            </div>
        </footer>
    </body>
</html>