<div class="detail ">
    <div class="center">
        <a ng-click="editTask(event)">Edit</a>
        <a ui-sref="task">Back</a>
        <p class="b"><b>Name</b></p>
        <span><i>{{event.name}}</i></span>
        <p class="b"><b>description</b></p>
        <span><i>{{event.description}}</i></span>
        <p class="b"><b>date</b></p>
        <span><i>{{event.date}}</i></span>
        <p class="b"><b>priority</b></p>
        <span><i>{{event.priority}}</i></span>
        <p class="b"><b>estimated</b></p>
        <span><i>{{event.estimated}}</i></span>
        <p class="b"><b>elapsed</b></p>
        <span><i>{{event.elapsed}}</i></span>
        <p class="b"><b>status</b></p>
        <span><i>{{event.status}}</i></span>
    </div>
</div>
